.body {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  background-color: #f0f0f0;
  box-sizing: border-box;
}
.app-container {
  display: flex;
  min-height: 100vh;
}
.side-bar {
  width: 296px;
  color: #fff;
  padding: 20px;
  flex-shrink: 0;
}
.main-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: rgba(0, 255, 255, 0.37);
}
